:root {

  --light-red-color:hsl(7, 99%, 70%);
  --light-yellow-color: hsl(51, 100%, 49%);
  --dark-green-text: hsl(167, 40%, 24%);
  --dark-blue-text: hsl(198, 62%, 26%);
  --footer-cyan-text: hsl(168, 34%, 41%);
}