:root {
  --light-red-color: hsl(7, 99%, 70%);
  --light-yellow-color: hsl(51, 91%, 78%);
  --dark-green-text: hsl(167, 40%, 24%);
  --dark-blue-text: hsl(198, 62%, 26%);
  --footer-cyan-text: hsl(168, 34%, 41%);
  --light-gray-text: hsl(210, 4%, 67%);
  --bg-white-color: #f2f2f2;
}

* {
  box-sizing: border-box;
}

.hero-banner {
  background-image: url("../images/desktop/image-header.jpg");
  max-width: 100vw;
  height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 20%;
  left: 49%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 4rem;
  font-family: Fraunces;
  font-weight: 900;
}

.nav-logo {
  font-size: 1.5rem;
  font-family: Barlow;
  font-weight: 900;
  color: white;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: relative;
}

.nav-right {
  display: flex;
  flex-direction: row;
}

ul {
  margin-top: 15px;
}

.nav-links li {
  display: inline;
  list-style: none;
  margin-right: 25px;
  color: white;
}

a {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  color: white;
  font-family: Barlow, sans-serif;
}

a:hover {
  border-bottom: 5px solid var(--light-yellow-color);
}

.nav-button {
  font-size: 0.7rem;
  font-weight: semi-bold;
  font-family: Fraunces, serif;
  background: white;
  border: none;
  border-radius: 25px;
  padding: 15px;
  width: 90px;
}

.nav-button:hover {
  color: white;
  background: hsl(198, 83%, 82%);
}

/* SECTION TWO: TRANSFORM */

/* Transform Container */
.squares-area {
  max-width: 100vw;
  display: flex;
  flex-direction: row;
}

.transform-textbox {
  flex: 1;
  max-width: 720px;
  height: 600px;
}

.transform-img {
  max-width: 720px;
  height: 600px;
}

.transform-textbox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

/* Main */
.transform-toptext {
  text-align: center;
  font-size: 2rem;
  font-family: Fraunces, serif;
  font-weight: 700px;
  margin-bottom: 40px;
}

.transform-bodytext {
  font-size: 1.5rem;
  white-space: wrap;
  margin-bottom: 30px;
  color: var(--light-gray-text);
}

.learn-more {
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: Fraunces, serif;
  border-bottom: 10px solid var(--light-yellow-color);
  border-radius: 12px;
}

.learn-more__red {
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: Fraunces, serif;
  border-bottom: 10px solid hsl(7, 92%, 86%);
  border-radius: 12px;
}

.learn-more__red:hover {
  border-bottom: 10px solid var(--light-red-color);
}

.learn-more:hover {
  border-bottom: 10px solid rgb(245, 198, 9);
}

/* Bottom row fruit squares Section Class */

.fruit-squares {
  display: flex;
  flex-direction: row;
}
/* Container holding the images and the text */
.fruit-box {
  max-width: 720px;
  max-height: 600px;
}
/* Container holding the images and the text for graphic design class */

.fruit-box__graphic {
  position: relative;
}
.fruit-heading__graphic {
  font-family: Fraunces, serif;
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--dark-green-text);
  position: absolute;
  top: 350px;
  left: 250px;
}

.fruit-body__graphic {
  white-space: wrap;
  font-size: 1.2rem;
  line-height: 1.6;
  padding: 20px;
  position: absolute;
  top: 400px;
  left: 180px;
}

/* Container holding all the images and text for photography class */
.fruit-box__photography {
  position: relative;
}

.fruit-heading__photography {
  font-family: Fraunces, serif;
  font-weight: bold;
  color: var(--dark-blue-text);
  font-size: 1.8rem;
  position: absolute;
  top: 350px;
  left: 300px;
}

.fruit-body__photography {
  font-size: 1.2rem;
  line-height: 1.6;
  padding: 15px;
  position: absolute;
  top: 400px;
  left: 180px;
}

/* Client Testimonials Section */

.client-testimonials {
  display: flex;
  max-width: 100%;
  max-height: 750px;
}

/* Individual Clients */
.client-type{
 
}
.client-img{
  height: 80px;
  width: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 35px;
}
.client-description{
margin-bottom: 25px;
color: rgb(88, 86, 86);
}

.client-name{
  font-family: fraunces, serif;
  font-weight: bold;
  margin-bottom: 15px;

}

.client-job{
  color: var(--light-gray-text);
}

.client-heading {
  max-width: 100%;
  max-height: 20px;
  font-family: fraunces, serif;
  text-transform: uppercase;
  color: var(--light-gray-text);
  font-size: 1.3rem;
  margin: 35px;
  justify-content: center;
  align-items: center;
}

.clients {
  margin-top: 100px;
  margin-left: 20px;
  flex-direction: row;
  padding: 50px;
}

.bottom-gallery {
  max-width: 100%;
  display: flex;
  flex-direction: row;
}

.gallery-img{
  width: 100%;

}

/* Footer Area */

.footer-details{
  max-width: 100%;
  max-height: 350px;
}

.footer-logo{
  color:hsl(167, 40%, 24%);
}