:root {

  --light-red-color:hsl(7, 99%, 70%);
  --light-yellow-color: hsl(51, 91%, 78%);
  --dark-green-text: hsl(167, 40%, 24%);
  --dark-blue-text: hsl(198, 62%, 26%);
  --footer-cyan-text: hsl(168, 34%, 41%);
  --light-gray-text: hsl(210, 4%, 67%);
}

*{
  box-sizing: border-box;
}


.hero-banner{
  background-image: url('../images/desktop/image-header.jpg');
  max-width: 100vw;
  height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text{
  text-align: center;
  position: absolute;
  top: 20%;
  left: 49%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 4rem;
  font-family: Fraunces;
  font-weight: 900;
}

.nav-logo{
  font-size: 1.5rem;
  font-family: Barlow;
  font-weight: 900;
  color: white;

}

.main-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: relative;
}

.nav-right{
  display: flex;
  flex-direction: row;
}

.nav-links li{
  display: inline;
  list-style: none;
  margin-right: 25px;
  color: white;
}

a{
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  color: white;
  font-family: Barlow, sans-serif;
}

.nav-button {
 border: none;
 border-radius: 15px;
 padding: 15px;
}

/* SECTION TWO: TRANSFORM */

/* Transform Container */
.transform-area{
  width: 100%;
  display: flex;
  flex-direction: row;
}

.transfom-textbox{
  flex: 1;
  max-width: 720px;
  height: 600px;
}

.transform-img{
  max-width: 720px;
  height: 600px;
  
}

.transform-textbox{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

/* Main */
.transform-toptext{
  text-align: center;
  font-size: 2rem;
  font-family: Fraunces, serif;
  font-weight: 700px;
  margin-bottom: 40px;
}

.transform-bodytext{
  font-size: 1.5rem;
  white-space: wrap;
  margin-bottom: 30px;
  color: var(--light-gray-text);
}

.learn-more{
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: Fraunces, serif;
  border-bottom: 10px solid var(--light-yellow-color);
  border-radius: 12px;
}

.learn-more:hover{
 border-bottom: 10px solid rgb(245, 198, 9);
}

